* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    background-color: rgb(27, 29, 27);
}

div#titlearea {
    display: flex;
    flex-direction: column;
}

h1.titletext {
    color: rgb(46, 170, 237);
    margin-top: 50px;
}

p.subtitle {
    color: rgb(14, 35, 81);
}

div.passwall { 
    background-color: rgb(69, 69, 69);
    height: 125px;
    display: flex;
    flex-direction: column;
    border: 2px solid darkslategray;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;

}

input.date{
    position: absolute;
    background-color: rgb(#ffffff);
    margin-top: 175px;
    width: 30%;
    height: 25px;
    text-align: center;
}

input.pass {
    width: 50%;
    height: 30px;
    font-size: 100%;
    text-align: center;
}

p.usertext{
    margin-top: 3px;
}

button{
    margin-top: 15px;
    height: 25%;
    width: 30%;
    font-size: 100%;
    text-align: center;
    padding: 0 10px;
    overflow: hidden;
}